@import url(bootstrap/bootstrap.css);
@import url(bootstrap/bootstrap-responsive.css);
@font-face {
  font-family: 'Chopin Script';
  src: url("fonts/ChopinScript.otf"); }

body {
  /*@include background(image-url("bg.png"));*/
  background-color: #D0FAF3;
  min-height: 1000px; }

.header {
  text-align: center; }
  .header h1 {
    font-family: 'Chopin Script';
    font-size: 60px;
    font-weight: normal;
    color: #20B0B0; }

.content {
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 6px; }
  .content .padding {
    padding: 1em 2em; }

.center {
  text-align: center; }

.PagesController_index .header {
  text-align: center; }

.PagesController_photos .container .content {
  background: transparent !important;
  text-align: center; }
  .PagesController_photos .container .content .img-rounded {
    margin-bottom: 1em; }

.PagesController_contactus, .GuestbookController_index {
  background: url('../images/gui/contact-bg.png?1386468911'); }

.GuestbookController_index form input[type=text] {
  width: 260px; }
.GuestbookController_index form textarea {
  width: 400px;
  height: 140px; }
