@import "bootstrap/bootstrap.css";
@import "bootstrap/bootstrap-responsive.css";

@import "compass";

@font-face {
	font-family: 'Chopin Script'; src: url("fonts/ChopinScript.otf");
}

@mixin chopin() {
	font-family: 'Chopin Script';
}
 
body {
	/*@include background(image-url("bg.png"));*/
	background-color:#D0FAF3;
	min-height: 1000px;
}

.header {
	text-align: center;
	h1 {
		@include chopin();
		font-size:60px;
		font-weight: normal;
		color:#20B0B0;
	}
}

.content {
	text-align:justify;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 6px;
	.padding {
		padding:1em 2em;
	}
}

.center { text-align: center; }

.PagesController_index {
	.header {
		text-align:center;
	}
}

.PagesController_photos {
	.container {
		.content {
			background: transparent !important;
			text-align: center;
			.img-rounded {
				margin-bottom: 1em;
			}
		}
	}
}

.PagesController_contactus, .GuestbookController_index{
	@include background(image-url("contact-bg.png"));
}

.GuestbookController_index {
	form {
		input[type=text] {
			width: 260px;
		}
		textarea {
			width:400px;
			height: 140px;
		}
	}
}